/* 
    这个文件为首页样式文件
*/

/* 动画样式 */
.home {
  display: none;
}
.outter {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
}
.img-box img {
  height: 200px;
  width: 200px;
}
.img-box {
  height: 200px;
  width: 200px;
  margin: 0 auto;
  margin-top: 240px;
  position: relative;
}
.text-list{
  position: absolute;
  left: 50%;
  top: 200px;
}
.text-list ul {
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
}
.text-list ul li {
  list-style: none;
  float: left;
  font-family: Arial;
  color: rgb(50, 128, 239);
  font-size: 30px;
  font-weight: bold;
  transform: rotateY(90deg);
  transform-origin: left;
  animation: dh 4s infinite;
  height: 30px;
  width: 25px;
  line-height: 30px;
  text-align: center;
  text-shadow: 10px 10px 5px black;
}
@keyframes dh {
  0% {
    opacity: 0;
    transform: rotateY(90deg) translateX(-30px);
  }
  50% {
    opacity: 1;
    transform: rotateY(0deg) translateX(30px) scale(0.4);
  }
  100% {
    opacity: 0;
    transform: rotateY(0deg);
  }
}
.text-list ul li:nth-child(1) {
  animation-delay: 0s;
}
.text-list ul li:nth-child(2) {
  animation-delay: 0.2s;
}
.text-list ul li:nth-child(3) {
  animation-delay: 0.4s;
}
.text-list ul li:nth-child(4) {
  animation-delay: 0.6s;
}
.text-list ul li:nth-child(5) {
  animation-delay: 0.8s;
}
.text-list ul li:nth-child(6) {
  animation-delay: 1s;
}
.text-list ul li:nth-child(7) {
  animation-delay: 1.2s;
}
.text-list ul li:nth-child(8) {
  animation-delay: 1.4s;
}

/* 给网站主体设置样式 */
.home {
  max-width: 800px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
/*导航栏 */
.nav-bar{
  width: 100%;
}
.nav-bar img{
  width: 100%;
}
/* 空白区域待定 */
/* 首页文字样式 */
.text-box {
  position: absolute;
  height: 250px;
  width: 90%;
  /* background-color: gray; */
  box-shadow: 0 0 5px #317bea;
  padding: 10px 0px;
  border-radius: 15px;
  margin: 0 auto;
  bottom: 0;
  top: 55%;
  left: 0;
  right: 0;
  background-color: white;
}
.article {
  background-color: white;
  color: #317bea;
}
.article li {
  height: 30px;
  line-height: 30px;
  font-size: large;
}
.article li a {
  color: gray;
}
.article li a:hover{
  color: #317bea;
  text-shadow: 0 0 5px #317bea;
}
@media screen and (min-width:700px) {
  .text-box{
    width: 750px;
    top: 100%;
  }
}
/* 底部艺术字 */
.art {
  position: fixed;
  bottom: 0;
  height: 60px;
  width: 100%;
  box-shadow: 0 0 5px black;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  line-height: 60px;
  background-color: whitesmoke;
}
.art div{
  width: 30%;
  text-align: center;
}
.art div a {
  height: 50px;
  width: 100px;
  text-align: center;
  font-weight: bold;
  color: white; /* 中间颜色为白色 */
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black; /* 创建黑色边框效果 */
}
.art div a div{
  position: absolute;
  font-size: 10px;
  top: 12px;
}
.art div a:hover {
  color: #317bea;
  text-shadow: none;
}
.text1 img,.text2 img{
  height: 30px;
  width: 30px;
}
.text3 img{
  height: 22px;
  margin-bottom: 4px;
}
@media screen and (min-width:700px) {
  .art{
    width: 800px;
  }
}
/* 页脚样式 */
footer {
  width: 100%;
  background-color: #a0c7f2;
  box-shadow: 0 0 4px #abafaf;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
  font-size: 1rem;
  color: #272727;
}

.footer-con {
  padding-top: 20px;
  font-size: 14px;
  color: #828f8f;
}