/* 设置主体样式 */
.join{
  max-width: 800px;
  border: 2px black solid;
  margin: 0 auto;
}
/* 轮播图 */
.carousel {
    height: 350px;
    width: 700px;
    margin: 50px auto;
    position: relative;
  }
  .img-list li {
    position: absolute;
    opacity: 0;
    transition: opacity 1.5s;
  }
  .carousel img {
    width: 700px;
    height: 350px;
    object-fit: cover;
  }
  li.show-img{
      z-index: 1;
      opacity: 1;
  }
  /* 加入我们的具体样式 */
  .join-in{
    height: 300px;
    width: 700px;
    margin: 0 auto;
    position: relative;
  }
  .box1 .a{
    height: 50px;
    width: 50px;
    background-color: rgb(9, 130, 235);
  }
  .box1 .b{
    position: absolute;
    top: 0;
    left: 50px;
    height: 50px;
    width: 120px;
    line-height: 50px;
    font-size: 25px;
    text-align: center;
  }
  a {
    text-decoration: none;
  }
  .function li{
    height: 50px;
    width: 100%;
    line-height: 50px;
  }
  .function{
    height: 300px;
    width: 700px;
    font-size: 25px;
    color: #317bea;
    /* background-color: #317bea; */
  }
  .function li a{
    color: rgb(238, 17, 17);
  }
  .function li a:hover{
    color: #317bea;
  }
  /* 设置返回按钮样式 */
.back button{
  height: 50px;
  width: 100px;
  background-color: transparent;
  cursor: pointer;
  border: 2px #317bea solid;
  border-radius: 25px;
  margin-top: 50px;
  margin-left: 30px;
  font-size: 20px;
}
.back button:hover{
  color: #317bea;
  box-shadow: 0 0 5px #317bea;
}