body {
  background-color: #f2f2f2;
}

/* 给网站主体设置样式 */
.main-body {
  background-color: #ffffff;
  max-width: 800px;
  /* border: 2px black solid; */
  margin: 0 auto;
  padding-bottom: 50px;
  height: 760px;
}

/* 这是顶部导航栏的样式（包括背景样式） */
.header {
  height: 100px;
  width: 100%;
  background: url("../imgs/头部图片.png") no-repeat;
  background-size:100% 100%;
}

.main {
  width: 100%;
}

/* 返回按钮 */
button {
  /* 去掉轮廓线 */
  outline: none;
  border:none;
  background-color: transparent;
}
.return {
  height: 30px;
  width: 80px;
  font-size: 25px;
  margin-top: 40px;
}
.return:hover{
  color: #317bea;
  cursor: pointer;
}

.pleaseToApply{
  display: none;
  height: 500px;
  padding-top: 100px;
  /* line-height: 500px; */
  margin-top: 40px;
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}

.content {
  width: 100%;
  display: none;
  font-size: 25px;
}
/* 欢迎查看 */
.welcome {
  width: 80%;
  display: inline-block;
  height: 40px;
  margin: 30px 0;
  padding-left: 30px;
  margin-bottom: 20px;
  font-size: 80%;
}

.detail {
  width: 80%;
  height: 40px;
  padding-left: 70px;
}
.detail-box{
  display: inline-block;
  height: 20px;
  width: 20px;
  background-color: #317bea;
}
.detail-text {
  display: inline-block;
  height: 20px;
}

/* 面试结果颜色渲染 */
.success{
  color: rgb(33, 210, 31);
}
.fail{
  color: rgb(255, 68, 0);
}

.icon-gou {
  color: rgb(33, 210, 31);
  font-size: 40px;
}
.icon-cuowu{
  color: rgb(255, 68, 0);
  font-size: 40px;
}


.content-main {
  display: flex;
}

.status {
  width: 10%;
  text-align: center;
  padding-left: 40px;
  padding-top: 35px;
}

.statu{
  display: none;
}

.line {
  display: none;
  padding: 0;
  margin: 0 auto;
  height: 70px;
  width: 2px;
  border-right: 2px solid rgb(142, 142, 142);
}

.message {
  /* height: 750px; */
  width: 70%;
  padding: 0 25px;
}

.msg-box {
  width: 100%;
  height: 80px;
  background-color: rgb(242, 242, 242);
  margin-top: 15px;
  margin-bottom: 30px;
  border-radius: 30px;
  box-sizing: border-box;
  padding: 10px 30px;
  display: none;
  /* 展示时 display 改为 flex */
  justify-content: space-between;
  align-items: center;
  font-size: 80%;
}

.msg-statu {
  text-align: center;
  height: 40px;
  line-height: 40px;
  width: 40%;
  border-radius: 15px;
  font-style: italic;
  background-color: #ffffff;
}

.footer {
  margin: 0 auto;
  height: 100px;
  width: 100%;
  margin-top: 30px;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  text-decoration: line-through;
}
.footer-success {
  display: none;
  text-shadow: rgb(129, 176, 242) 3px 3px 5px;
}
.footer-fail {
  display: none;
  text-shadow: rgb(203, 65, 65) 3px 3px 5px;
}
